*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
node_modules
/dist

/WebApi/appsettings.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Visual Studio Code
.vscode/*

# Rider
.idea
!.vscode/*.code-snippets

# script
/vuexy-scripts

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
.vs/
Properties/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn